---
layout: default
disqus: false
archive: false
---

<main class="content" role="main">

    <article class="post">
        <span class="post-meta">
        	<a href="/index.html">Back </a> |
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
        	{% if page.categories %}
        		on
            	{% for category in page.categories %}
            	    {{category}}
            	{% endfor %}
            {% endif %}

            <form >
                A test of stripe integration: 
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_REiRXJkBrkRnp8Nn7YdHN7cb" 
                    data-amount="0000"
                    data-name="HIREMEv2.0"
                    data-description="Blog Post : $0.00"
                    data-image="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/10285142_10100871048204455_9142044647718762879_o.jpg" style="height:80%;">
                  </script>
            </form>
       	</span>

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
        	<h5>Archive</h5>
    		<ul>
    			{% for post in site.posts %}
    				<li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
    			{% endfor %}	
    		</ul>
        </section>
        {% endif %}

        <footer class="post-footer">
                <section class="author">
                	<header> <a href="{{ site.baseurl }}"> <img class="profile" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/10285142_10100871048204455_9142044647718762879_o.jpg" alt="Author's profile picture"></a></header>
                	<article>
                		<!-- Author Name -->
                    	<h4> {{ site.author }} </h4>
                    	<!-- Author Bio -->
                    	<p> 
                    		Engineer turned novice programmer.
                    	</p>
                    </article>
                </section>                
               <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{ page.url }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{site.url}}{{page.url}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>
        </footer>

    </article>

</main>